.singel-card{
  display: flex;
  flex-direction: column;
  align-items: center;

}


.order-card-big{
  width: 90%;
  margin: 40px auto;
  box-shadow: 1px 5px 29px -2px rgba(0,0,0,0.36);
  border-radius: 10px;

}

.order-card-big__text{
  padding: 1rem;
}

.order-card-big__offer-holder{
  display: grid;
  grid-template-columns: 40% 60%;
  box-shadow: 1px 5px 29px -2px rgba(0,0,0,0.36);
  margin: 1rem;
}

.order-card-big__offer-holder h5{
  font-size: 0.6rem;

}
.order-card-big__offer-holder h4{
  font-size: 0.6rem;
  margin: 0;
  text-decoration: underline;
}
.order-card-big__offer-holder p{
  font-size: 0.6rem;
  margin: 0;
  padding-left: 1rem
}

.order-card-big__offer-holder img {
  max-height: 120px;
  max-width: 120px;
}

.order-card-big__offer-holder--details{
  padding: 1rem;
}

.order-card-big__offer-holder--offer{
  padding: 1rem;
  padding-top: 0;
}

.order-card-big__offer-holder--time{
  position: relative;
  right: 1.5rem;
}

.rating{
  padding: 0;
}

.order-card-big__text > button{
  margin: 1rem;
  width: 94%;
  background-color: rgb(43, 42, 42);
  color: white;
}

.order__btns {
  display:grid;
  grid-template-columns: 50% 20% 30%;
  color: white;
  margin-top:0.5rem;
  margin-bottom: 1rem;
}

.order__btns button{
  background-color: rgb(43, 42, 42);
  color: white;
  outline:none;
  border-radius: 3px;
  border:none;
  padding-top: 0.2rem;
  padding-bottom:0.2rem;
}

@media only screen and (min-width: 390px)  {
  .order-card-big__offer-holder h5{
    font-size: 0.8rem;

  }
  .order-card-big__offer-holder h4{
    font-size: 0.8rem;
    margin: 0;
    text-decoration: underline;
  }
  .order-card-big__offer-holder p{
    font-size: 0.8rem;
    margin: 0;
    padding-left: 1rem
  }

  .order-card-big__offer-holder img {
    max-height: 160px;
    max-width: 160px;
  }

  .order-card-big__offer-holder--details{
    padding: 1rem;
  }

  .order-card-big__offer-holder--offer{
    padding: 1rem;
    padding-top: 0;
  }

  .order-card-big__offer-holder--time{
    position: absolute;
    right: 1.5rem;
  }
  .rating{
    padding-left: 2.5rem;
  }
}