.search-form{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px
}

.search-label, .search-input, .form-select{
    width: 80%;
margin:5px;
outline: none;
}

.search-input{
border: #343a40 1px  solid;
    border-radius: 5px;
    padding:2px;
    outline: none;
}

.card-title {
    margin-bottom: 20px;
}

.order-title, .order-description, .adress-title, .order-street, .order-city {
    text-transform: capitalize;
}

/* .order-postal {} */

.order-card{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  box-shadow: 1px 5px 29px -2px rgba(0,0,0,0.36);
  border-radius: 10px;
  text-align: left;
  margin: 0.5rem;
  max-width: 500px;
  min-height: 600px;
}

.order-card__text{
    padding: 1rem;
}

.order-card__text > h3 {
  text-decoration: underline;
}

.order-card__text > h4 {
  text-decoration: underline;
}

.order-card input[type=button], .search-button{
    margin:5px;
    padding: 2px;
    border-radius: 5px;
    border: #343a40;
    color: white;
    background-color: #343a40;
    }
.order-card--offer{
    padding-bottom: 0.5rem;
}

.myoffer_field{
    margin: 0.5rem;
}

.myoffer_field >p{
    border: #343a40 solid 1px;
}
.myoffer_field > h5{
    text-decoration: underline;
}

.order-card h5 {
    margin-top: 1rem;
}

.order-card h5, .order-card p {
    margin-bottom: 0px;
}

.client-data{
    display: grid;
    grid-template-columns: 70% 30%;
}


@media (max-width: 680px) {
    .order-card {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 60px;
    }

    .order-card input[type=button], .search-button{
      max-width: 480px;

        }
}