.newOrder{
  cursor: pointer;
  justify-self: center;
  align-self: center;
  text-align: center;
  width: 80%;
  margin: 3rem 0 3rem;
  background-color: #343A40;
  font-weight: 600;
  color: white;
  border-radius: 5px;
}

.newOrder:hover{
  box-shadow: 1px 5px 29px -2px rgba(0,0,0,0.36);
}

.order-list__client{
  display:flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  align-items: center;

}

.worder-card{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width:25%;
  box-shadow: 1px 5px 29px -2px rgba(0,0,0,0.36);
  margin: 0.5rem;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  padding-top: 0;
  text-align: left;

  /* min-height: 750px; */
}

.worder-card:hover{
  box-shadow: 1px 5px 38px 12px rgba(0,0,0,0.38);
  max-width: 510px;
}

.worder-card__text{
  margin-top: 0;
  padding-top: 0;
  text-decoration: none;
  color: black;
}

.worder-card__text:hover{

  text-decoration: none;
}

.worder-card > button{
  margin: 1rem;
  width: 94%;
  background-color: rgb(43, 42, 42);
  color: white;
}

.worder-card__text{
  padding: 1rem;
}

.worder-card__text--date {
  text-align: end;
  margin-right: 10px;
}

.offer-button{
  cursor: pointer;
  margin: 1rem;
  width: 93%;
  background-color: rgb(43, 42, 42);
  color: white;
}

@media (max-width: 680px) {
  .worder-card{
    width: 95%;
  }
}