.page{
  display: flex;
  flex-direction: column;
}

.sidebar {
  display: flex;
  flex-direction: row;
  width:100vw;
  overflow: scroll;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}

.messages{
  align-self: center;
  height:68vh;
  overflow: scroll;
}

.message__tab{
  margin:0rem 0.25rem;
  background-color: lightgray;
  padding:0.5rem;
  border-radius: 10px;
}

.message__tab h4{
  font-size:0.75rem;
}
.message__tab p {
  font-size: 0.7rem;
}


