
.image-gallery {width: 100%; }

.gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    background-color: transparent;
}

.image-gallery-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: transparent;
    border-radius: 5px;
    overflow: hidden;
}

.orderDone-button{

    justify-self: center;
    align-self: center;
    text-align: center;
    width: 500px;
     margin-top:15px;
    background-color: #343A40;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    outline: none;

  }

  .orderDone-button:focus {
    border: none;
    outline: none;
}
